<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="header">
<header role="header">
    <div class="container">

        <!-- logo -->
        <!-- logo -->
        <!-- nav -->
        <nav role="header-nav" class="navy">
            <ul>
                <li th:class="${active == 'work' ? 'nav-active':''}"><a th:href="@{/}" title="Work">么么</a></li>
<!--
                <li th:class="${active == 'about' ? 'nav-active':''}"><a  th:href="@{/about}" title="About">B</a></li>
                <li th:class="${active == 'blog' ? 'nav-active':''}"><a th:href="@{/blog/index}" title="Blog">C</a></li>
-->
            </ul>
        </nav>

        <!-- nav -->

    </div>
</header>
</html>